@import '@riad/tailwind/tailwind.css';

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.inputCustom-group {
  @apply space-y-1;
}
.inputCustom-label {
  @apply text-S/Medium text-grey-800 ml-0.5;
}
.inputCustom-textbox-wrap {
  @apply xs:text-S/Medium relative;
}
.inputCustom-textbox {
  @apply border-grey-400 placeholder:text-grey-500 read-only/disabled:bg-grey-200 read-only/disabled:text-grey-700 read-only/disabled:hover:border-grey-400
  read-only/disabled:focus:border-grey-400

  rounded
  border

  px-4
  

  py-3
  hover:border-orange-300
  read-only/disabled:hover/focus:shadow-none
  focus:border-[1.2px]

  focus:border-orange-300
  focus:outline-none;
}
.inputCustom-textbox.error {
  @apply placeholder:text-grey-500 rounded border border-red-500 py-3 pl-4
  pr-11;
}
.inputCustom-icon {
  @apply absolute right-4 top-1/2 translate-y-[-50%];
}
.inputCustom-helptext {
  @apply text-S/Medium ml-1 text-red-500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
